.tab-group-style li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: right;
  /*width: 100px;*/
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
.tab-group-style li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group-style .active a {
  background: #1ab188;
  color: #ffffff;
}
.tab-group-style {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group-style:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}